In [1]:
# Importing libraries

import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Setting path
path = r'C:\Users\Bhati\OneDrive\Desktop\CF\Data Analytics Immersion\Achievement 6\25-May-2023 Germany Rent Analysis'

In [3]:
# Importing Orginal Data Set
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'immo_data.csv'),  index_col = False)

In [4]:
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [5]:
df.describe()

,serviceCharge,telekomHybridUploadSpeed,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,yearConstructedRange,...,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,livingSpaceRange,heatingCosts,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,261941.000000,45020.0,268850.000000,267018.000000,235492.000000,2.283330e+05,211805.000000,2.688500e+05,93052.000000,211805.000000,...,268850.000000,162344.000000,217541.000000,171118.000000,268850.000000,268850.000000,85518.000000,80711.000000,46846.000000,46846.000000
mean,151.206113,10.0,9.791958,3.389001,28.804928,9.013315e+02,1966.400590,1.069697e+08,1.327634,3.714544,...,2.641261,114.749533,2.122405,3.572319,2.571542,3.070790,76.990866,2013.904536,89.113612,0.199769
std,308.295790,0.0,6.408399,1.964874,16.337151,3.323833e+04,46.992207,1.250093e+07,8.361403,2.738134,...,2.633440,61.653663,3.634934,6.375496,0.937594,1.407127,147.716278,10.963125,5.395805,0.009667
min,0.000000,10.0,0.000000,-12.330000,1.000000,0.000000e+00,1000.000000,2.887174e+07,0.000000,1.000000,...,1.000000,0.100000,-1.000000,0.000000,1.000000,1.000000,0.000000,1015.000000,71.430000,0.170500
25%,95.000000,10.0,6.000000,2.000000,10.000000,4.698000e+02,1950.000000,1.066910e+08,1.000000,1.000000,...,2.000000,79.000000,1.000000,2.000000,2.000000,2.000000,54.000000,2012.000000,90.760000,0.191500
50%,135.000000,10.0,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,1.111584e+08,1.000000,3.000000,...,3.000000,107.000000,2.000000,3.000000,3.000000,3.000000,70.000000,2017.000000,90.760000,0.198500
75%,190.000000,10.0,13.000000,4.570000,40.000000,9.850000e+02,1996.000000,1.137688e+08,1.000000,5.000000,...,3.000000,140.300000,3.000000,4.000000,3.000000,4.000000,90.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,14.920000,100.000000,1.575154e+07,2090.000000,1.157117e+08,2241.000000,9.000000,...,999.990000,1996.000000,999.000000,999.000000,5.000000,7.000000,12613.000000,2919.000000,90.760000,0.227600

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [13]:
df.isnull().sum()

regio1                           0
serviceCharge                 6909
heatingType                  44856
telekomTvOffer               32619
telekomHybridUploadSpeed    223830
newlyConst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomUploadSpeed           33358
totalRent                    40517
yearConstructed              57045
scoutId                          0
noParkSpaces                175798
firingTypes                  56964
hasKitchen                       0
geo_bln                          0
cellar                           0
yearConstructedRange         57045
baseRent                         0
houseNumber                  71018
livingSpace                      0
geo_krs                          0
condition                    68489
interiorQual                112665
petsAllowed                 114573
street                           0
streetPlain                  71013
lift                             0
baseRentRange                    0
typeOfFlat                   36614
geo_plz                          0
noRooms                          0
thermalChar                 106506
floor                        51309
numberOfFloors               97732
noRoomsRange                     0
garden                           0
livingSpaceRange                 0
regio2                           0
regio3                           0
description                  19747
facilities                   52924
heatingCosts                183332
energyEfficiencyClass       191063
lastRefurbish               188139
electricityBasePrice        222004
electricityKwhPrice         222004
date                             0
dtype: int64

In [11]:
df.shape

(268850, 49)

In [14]:
# Remove duplicates
df.drop_duplicates(inplace=True)

No Duplicates Found

In [16]:
#Checking for missing data percentage
percent_missing = (df.isnull().sum()/df.shape[0]) * 100

In [19]:
percent_missing.sort_values()

regio1                       0.000000
regio3                       0.000000
regio2                       0.000000
livingSpaceRange             0.000000
garden                       0.000000
noRoomsRange                 0.000000
noRooms                      0.000000
geo_plz                      0.000000
baseRentRange                0.000000
lift                         0.000000
street                       0.000000
geo_krs                      0.000000
livingSpace                  0.000000
baseRent                     0.000000
cellar                       0.000000
geo_bln                      0.000000
date                         0.000000
balcony                      0.000000
scoutId                      0.000000
newlyConst                   0.000000
hasKitchen                   0.000000
picturecount                 0.000000
pricetrend                   0.681421
serviceCharge                2.569834
description                  7.344988
telekomTvOffer              12.132788
telekomUploadSpeed          12.407662
typeOfFlat                  13.618747
totalRent                   15.070485
heatingType                 16.684397
floor                       19.084620
facilities                  19.685326
firingTypes                 21.188023
yearConstructed             21.218151
yearConstructedRange        21.218151
condition                   25.474800
streetPlain                 26.413614
houseNumber                 26.415473
numberOfFloors              36.351869
thermalChar                 39.615399
interiorQual                41.906267
petsAllowed                 42.615957
noParkSpaces                65.388879
heatingCosts                68.191185
lastRefurbish               69.979171
energyEfficiencyClass       71.066766
electricityKwhPrice         82.575414
electricityBasePrice        82.575414
telekomHybridUploadSpeed    83.254603
dtype: float64

In [27]:
# Removing Columns with more than 25% missing values
df_new = df.drop(['streetPlain','houseNumber','numberOfFloors','thermalChar','interiorQual','petsAllowed','noParkSpaces','heatingCosts','lastRefurbish','energyEfficiencyClass','electricityKwhPrice','electricityBasePrice', 'telekomHybridUploadSpeed'], axis=1)

In [28]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268850 entries, 0 to 268849
Data columns (total 36 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268850 non-null  object
 1   serviceCharge         261941 non-null  float64
 2   heatingType           223994 non-null  object
 3   telekomTvOffer        236231 non-null  object
 4   newlyConst            268850 non-null  bool
 5   balcony               268850 non-null  bool
 6   picturecount          268850 non-null  int64
 7   pricetrend            267018 non-null  float64
 8   telekomUploadSpeed    235492 non-null  float64
 9   totalRent             228333 non-null  float64
 10  yearConstructed       211805 non-null  float64
 11  scoutId               268850 non-null  int64
 12  firingTypes           211886 non-null  object
 13  hasKitchen            268850 non-null  bool
 14  geo_bln               268850 non-null  object
 15  cellar                268850 non-null  bool
 16  yearConstructedRange  211805 non-null  float64
 17  baseRent              268850 non-null  float64
 18  livingSpace           268850 non-null  float64
 19  geo_krs               268850 non-null  object
 20  condition             200361 non-null  object
 21  street                268850 non-null  object
 22  lift                  268850 non-null  bool
 23  baseRentRange         268850 non-null  int64
 24  typeOfFlat            232236 non-null  object
 25  geo_plz               268850 non-null  int64
 26  noRooms               268850 non-null  float64
 27  floor                 217541 non-null  float64
 28  noRoomsRange          268850 non-null  int64
 29  garden                268850 non-null  bool
 30  livingSpaceRange      268850 non-null  int64
 31  regio2                268850 non-null  object
 32  regio3                268850 non-null  object
 33  description           249103 non-null  object
 34  facilities            215926 non-null  object
 35  date                  268850 non-null  object
dtypes: bool(6), float64(10), int64(6), object(14)
memory usage: 73.2+ MB

In [29]:
# Removing unecessary columns
df_new_2 = df_new.drop(['description', 'facilities', 'geo_bln', 'scoutId'], axis=1)

In [30]:
df_new_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268850 entries, 0 to 268849
Data columns (total 32 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268850 non-null  object
 1   serviceCharge         261941 non-null  float64
 2   heatingType           223994 non-null  object
 3   telekomTvOffer        236231 non-null  object
 4   newlyConst            268850 non-null  bool
 5   balcony               268850 non-null  bool
 6   picturecount          268850 non-null  int64
 7   pricetrend            267018 non-null  float64
 8   telekomUploadSpeed    235492 non-null  float64
 9   totalRent             228333 non-null  float64
 10  yearConstructed       211805 non-null  float64
 11  firingTypes           211886 non-null  object
 12  hasKitchen            268850 non-null  bool
 13  cellar                268850 non-null  bool
 14  yearConstructedRange  211805 non-null  float64
 15  baseRent              268850 non-null  float64
 16  livingSpace           268850 non-null  float64
 17  geo_krs               268850 non-null  object
 18  condition             200361 non-null  object
 19  street                268850 non-null  object
 20  lift                  268850 non-null  bool
 21  baseRentRange         268850 non-null  int64
 22  typeOfFlat            232236 non-null  object
 23  geo_plz               268850 non-null  int64
 24  noRooms               268850 non-null  float64
 25  floor                 217541 non-null  float64
 26  noRoomsRange          268850 non-null  int64
 27  garden                268850 non-null  bool
 28  livingSpaceRange      268850 non-null  int64
 29  regio2                268850 non-null  object
 30  regio3                268850 non-null  object
 31  date                  268850 non-null  object
dtypes: bool(6), float64(10), int64(5), object(11)
memory usage: 65.0+ MB

In [31]:
df_new_2.describe()

,serviceCharge,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
count,261941.000000,268850.000000,267018.000000,235492.000000,2.283330e+05,211805.000000,211805.000000,2.688500e+05,268850.000000,268850.000000,268850.000000,268850.000000,217541.000000,268850.000000,268850.000000
mean,151.206113,9.791958,3.389001,28.804928,9.013315e+02,1966.400590,3.714544,6.941294e+02,74.355548,3.765256,37283.022235,2.641261,2.122405,2.571542,3.070790
std,308.295790,6.408399,1.964874,16.337151,3.323833e+04,46.992207,2.738134,1.953602e+04,254.759208,2.214357,27798.037296,2.633440,3.634934,0.937594,1.407127
min,0.000000,0.000000,-12.330000,1.000000,0.000000e+00,1000.000000,1.000000,0.000000e+00,0.000000,1.000000,852.000000,1.000000,-1.000000,1.000000,1.000000
25%,95.000000,6.000000,2.000000,10.000000,4.698000e+02,1950.000000,1.000000,3.380000e+02,54.000000,2.000000,9128.000000,2.000000,1.000000,2.000000,2.000000
50%,135.000000,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,3.000000,4.900000e+02,67.320000,3.000000,38667.000000,3.000000,2.000000,3.000000,3.000000
75%,190.000000,13.000000,4.570000,40.000000,9.850000e+02,1996.000000,5.000000,7.990000e+02,87.000000,5.000000,57072.000000,3.000000,3.000000,3.000000,4.000000
max,146118.000000,121.000000,14.920000,100.000000,1.575154e+07,2090.000000,9.000000,9.999999e+06,111111.000000,9.000000,99998.000000,999.990000,999.000000,5.000000,7.000000

In [32]:
df_new_2.shape

(268850, 32)

In [33]:
# keeping the data only with the year < 2023 and greater than 1800
df_new_3 = df_new_2[(df_new_2['yearConstructed']<2023) & (df_new_2['yearConstructed']>1800)]

In [34]:
df_new_3.shape

(210771, 32)

In [36]:
df_new_3.describe()

,serviceCharge,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
count,207189.000000,210771.000000,209264.000000,183913.000000,1.781630e+05,210771.000000,210771.000000,210771.000000,210771.000000,210771.000000,210771.000000,210771.000000,174707.000000,210771.000000,210771.000000
mean,152.693281,9.844789,3.407776,28.853067,9.198564e+02,1968.011520,3.727671,656.799635,74.245969,3.794346,37122.406318,2.651341,2.151688,2.586722,3.080433
std,343.973837,6.415198,1.970708,16.343018,3.733945e+04,38.460485,2.738128,585.755721,154.568264,2.242388,27624.203860,2.505080,3.047366,0.924901,1.396339
min,0.000000,0.000000,-12.330000,1.000000,0.000000e+00,1803.000000,1.000000,0.000000,0.000000,1.000000,1057.000000,1.000000,-1.000000,1.000000,1.000000
25%,95.000000,6.000000,2.000000,10.000000,4.700000e+02,1950.000000,1.000000,336.000000,54.830000,2.000000,9130.000000,2.000000,1.000000,2.000000,2.000000
50%,136.000000,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,3.000000,490.000000,67.470000,3.000000,38542.000000,3.000000,2.000000,3.000000,3.000000
75%,190.000000,13.000000,4.570000,40.000000,1.000000e+03,1996.000000,5.000000,807.500000,86.860000,6.000000,56112.000000,3.000000,3.000000,3.000000,4.000000
max,146118.000000,121.000000,14.920000,100.000000,1.575154e+07,2022.000000,9.000000,120000.000000,66100.000000,9.000000,99994.000000,999.990000,650.000000,5.000000,7.000000

In [54]:
filterdf = df_new_3[df_new_3['noRooms']>6]

In [55]:
filterdf

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,...,typeOfFlat,geo_plz,noRooms,floor,noRoomsRange,garden,livingSpaceRange,regio2,regio3,date
1384,Sachsen,NaN,NaN,ONE_YEAR_FREE,False,False,21,3.03,40.0,2672.02,...,NaN,4159,6.5,NaN,5,False,7,Leipzig,Lützschena_Stahmeln,Sep18
1537,Berlin,368.76,district_heating,NaN,True,True,7,6.90,NaN,2244.62,...,apartment,13088,7.0,5.0,5,False,7,Berlin,Weißensee_Weißensee,Feb20
1648,Hessen,1200.00,central_heating,ONE_YEAR_FREE,True,True,3,5.10,40.0,NaN,...,apartment,60487,8.5,1.0,5,False,7,Frankfurt_am_Main,Bockenheim,Oct19
2052,Berlin,740.00,district_heating,ONE_YEAR_FREE,False,True,23,6.83,40.0,3704.00,...,roof_storey,10789,7.0,5.0,5,False,7,Berlin,Charlottenburg_Charlottenburg,Oct19
2097,Sachsen,150.00,central_heating,ONE_YEAR_FREE,False,False,4,1.43,40.0,1320.00,...,roof_storey,1257,7.0,2.0,5,False,6,Dresden,Leuben,Sep18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266809,Berlin,2100.00,gas_heating,ONE_YEAR_FREE,False,True,25,6.15,10.0,11100.00,...,maisonette,14109,11.0,NaN,5,True,7,Berlin,Wannsee_Zehlendorf,May19
266998,Mecklenburg_Vorpommern,370.00,central_heating,ONE_YEAR_FREE,False,True,18,NaN,40.0,NaN,...,apartment,18258,7.0,NaN,5,False,7,Bad_Doberan_Kreis,Rukieten,May19
267721,Berlin,424.00,central_heating,ONE_YEAR_FREE,False,True,24,8.74,2.4,5862.00,...,apartment,10719,8.0,3.0,5,False,7,Berlin,Charlottenburg_Charlottenburg,Sep18
268062,Bayern,230.00,central_heating,ONE_YEAR_FREE,False,True,23,4.55,2.4,1690.00,...,ground_floor,89364,7.0,NaN,5,True,7,Günzburg_Kreis,Rettenbach,May19
268141,Baden_Württemberg,491.00,central_heating,ONE_YEAR_FREE,False,True,11,5.56,2.4,1991.00,...,apartment,74219,8.0,1.0,5,True,7,Heilbronn_Kreis,Möckmühl,Feb20

In [58]:
#Removing rows with more than 6 rooms
df_new_4 = df_new_3[(df_new_3['noRooms']<6)]

In [59]:
df_new_4.describe()

,serviceCharge,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
count,205841.000000,209357.000000,207863.000000,182684.000000,1.770120e+05,209357.000000,209357.000000,209357.000000,209357.000000,209357.000000,209357.000000,209357.000000,173665.000000,209357.000000,209357.000000
mean,151.386718,9.810969,3.403656,28.861493,9.111603e+02,1968.090319,3.730499,648.598644,73.482800,3.772245,37080.333645,2.615605,2.153145,2.570423,3.057743
std,343.922272,6.377977,1.969397,16.341448,3.746019e+04,38.402241,2.738369,564.191187,154.628732,2.228695,27614.648468,0.912660,3.054165,0.906432,1.370751
min,0.000000,0.000000,-12.330000,1.000000,0.000000e+00,1803.000000,1.000000,0.000000,0.000000,1.000000,1057.000000,1.000000,-1.000000,1.000000,1.000000
25%,95.000000,6.000000,2.000000,10.000000,4.700000e+02,1950.000000,1.000000,335.000000,54.700000,2.000000,9130.000000,2.000000,1.000000,2.000000,2.000000
50%,135.000000,9.000000,3.390000,40.000000,6.500000e+02,1973.000000,3.000000,490.000000,67.100000,3.000000,38518.000000,3.000000,2.000000,3.000000,3.000000
75%,190.000000,13.000000,4.570000,40.000000,9.950000e+02,1996.000000,5.000000,800.000000,86.000000,5.000000,56072.000000,3.000000,3.000000,3.000000,4.000000
max,146118.000000,121.000000,14.920000,100.000000,1.575154e+07,2022.000000,9.000000,120000.000000,66100.000000,9.000000,99994.000000,5.500000,650.000000,5.000000,7.000000

In [80]:
filter2 = df_new_4[df_new_4['floor']>50]

In [81]:
filter2

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,...,typeOfFlat,geo_plz,noRooms,floor,noRoomsRange,garden,livingSpaceRange,regio2,regio3,date
3272,Sachsen,118.85,gas_heating,ONE_YEAR_FREE,False,False,5,4.39,40.0,525.39,...,apartment,4105,2.0,136.0,2,False,2,Leipzig,Zentrum_Nord,Feb20
8138,Berlin,170.00,self_contained_central_heating,ONE_YEAR_FREE,False,True,17,8.57,10.0,1270.00,...,NaN,10713,4.0,83.0,4,False,4,Berlin,Wilmersdorf_Wilmersdorf,Sep18
56203,Sachsen,167.90,district_heating,ONE_YEAR_FREE,False,False,10,2.08,40.0,989.09,...,apartment,1139,4.0,133.0,4,False,4,Dresden,Mickten,Feb20
56384,Sachsen,149.16,gas_heating,ONE_YEAR_FREE,False,True,5,4.84,40.0,575.32,...,apartment,4105,2.0,137.0,2,False,2,Leipzig,Zentrum_Nord,Oct19
58923,Sachsen,202.22,gas_heating,ONE_YEAR_FREE,False,True,7,4.39,40.0,680.20,...,apartment,4105,2.0,139.0,2,False,3,Leipzig,Zentrum_Nord,Feb20
75178,Sachsen,199.13,district_heating,ONE_YEAR_FREE,False,True,11,2.01,40.0,860.85,...,apartment,1309,2.0,124.0,2,False,3,Dresden,Striesen_Süd,Feb20
105184,Sachsen,160.00,district_heating,ONE_YEAR_FREE,False,True,7,2.11,40.0,865.98,...,apartment,1067,2.0,138.0,2,False,3,Dresden,Innere_Altstadt,Oct19
105426,Sachsen,152.77,gas_heating,ONE_YEAR_FREE,False,False,5,5.13,40.0,489.34,...,apartment,4105,2.0,134.0,2,False,2,Leipzig,Zentrum_Nord,May19
123619,Sachsen_Anhalt,157.50,gas_heating,ONE_YEAR_FREE,False,False,6,3.14,10.0,630.00,...,apartment,6108,2.0,136.0,2,False,3,Halle_Saale,Nördliche_Innenstadt,Feb20
134609,Sachsen,143.11,district_heating,ONE_YEAR_FREE,False,False,4,1.50,40.0,582.21,...,apartment,1277,2.0,135.0,2,False,2,Dresden,Blasewitz,Feb20
152214,Berlin,395.00,NaN,ONE_YEAR_FREE,False,True,20,5.92,40.0,1644.00,...,NaN,12207,4.0,80.0,4,True,5,Berlin,Lichterfelde_Steglitz,Oct19
156661,Berlin,151.65,NaN,ONE_YEAR_FREE,False,False,3,5.60,40.0,717.46,...,NaN,12355,3.0,80.0,3,False,3,Berlin,Rudow_Neukölln,Oct19
179010,Hessen,191.00,gas_heating,ONE_YEAR_FREE,False,True,4,4.96,40.0,701.00,...,apartment,63457,2.0,105.0,2,False,2,Main_Kinzig_Kreis,Hanau,May19
179903,Thüringen,116.00,NaN,ONE_YEAR_FREE,False,False,5,4.05,40.0,772.00,...,NaN,99089,2.0,98.0,2,False,3,Erfurt,Andreasvorstadt,May19
191102,Bayern,80.00,central_heating,ONE_YEAR_FREE,False,False,1,5.01,10.0,NaN,...,NaN,90763,3.0,645.0,3,False,3,Fürth,Südstadt,Oct19
197101,Thüringen,59.00,NaN,ONE_YEAR_FREE,False,False,4,2.60,40.0,530.00,...,NaN,99089,2.0,80.0,2,False,2,Erfurt,Ilversgehofen,Oct19
199932,Berlin,202.01,NaN,ONE_YEAR_FREE,False,False,3,6.01,40.0,664.65,...,NaN,12249,2.0,80.0,2,False,2,Berlin,Lankwitz_Steglitz,Oct19
201390,Hessen,183.18,district_heating,ONE_YEAR_FREE,True,True,6,NaN,40.0,1018.35,...,NaN,60438,2.0,650.0,2,False,3,Frankfurt_am_Main,Riedberg,May19
206919,Thüringen,45.00,NaN,ONE_YEAR_FREE,False,False,5,3.78,40.0,313.00,...,NaN,99092,1.0,80.0,1,False,1,Erfurt,Brühlervorstadt,May19
216280,Thüringen,60.00,NaN,ONE_YEAR_FREE,False,False,5,2.79,10.0,482.00,...,NaN,99089,2.0,80.0,2,False,2,Erfurt,Andreasvorstadt,Oct19
220954,Brandenburg,295.12,NaN,ONE_YEAR_FREE,False,False,5,5.49,40.0,2326.18,...,NaN,14482,5.0,99.0,5,False,7,Potsdam,Babelsberg_Süd,May19
244371,Sachsen,182.95,NaN,ONE_YEAR_FREE,False,False,2,1.50,40.0,744.28,...,apartment,1277,2.0,137.0,2,False,3,Dresden,Blasewitz,Feb20
247528,Thüringen,75.00,NaN,ONE_YEAR_FREE,False,False,10,2.40,40.0,562.00,...,NaN,99099,2.0,98.0,2,False,2,Erfurt,Daberstedt,Oct19
262383,Sachsen,127.99,NaN,ONE_YEAR_FREE,False,False,2,1.50,40.0,520.68,...,apartment,1277,2.0,136.0,2,False,2,Dresden,Blasewitz,Feb20

In [82]:
#Removing rows with more than 50 floors
df_new_5 = df_new_4[(df_new_4['floor']<50)]

In [83]:
df_new_5.describe()

,serviceCharge,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
count,171527.000000,173641.000000,172376.000000,152413.000000,1.490330e+05,173641.000000,173641.000000,173641.000000,173641.000000,173641.000000,173641.000000,173641.000000,173641.000000,173641.000000,173641.000000
mean,150.367846,9.876849,3.385090,28.949315,9.183985e+02,1967.372694,3.639860,639.202118,73.011425,3.715332,36244.678354,2.617534,2.131887,2.572169,3.032302
std,374.414418,6.403043,1.999464,16.302906,4.082364e+04,37.936111,2.676462,571.969853,168.668055,2.224211,27579.807462,0.904397,1.716098,0.898198,1.346859
min,0.000000,0.000000,-12.330000,1.000000,0.000000e+00,1803.000000,1.000000,0.000000,0.000000,1.000000,1057.000000,1.000000,-1.000000,1.000000,1.000000
25%,93.335000,6.000000,1.960000,10.000000,4.650000e+02,1950.000000,1.000000,330.000000,54.760000,2.000000,9126.000000,2.000000,1.000000,2.000000,2.000000
50%,135.000000,9.000000,3.330000,40.000000,6.400000e+02,1972.000000,3.000000,479.000000,67.000000,3.000000,38162.000000,3.000000,2.000000,3.000000,3.000000
75%,187.000000,13.000000,4.550000,40.000000,9.800000e+02,1996.000000,5.000000,790.560000,85.000000,5.000000,54292.000000,3.000000,3.000000,3.000000,4.000000
max,146118.000000,121.000000,14.920000,100.000000,1.575154e+07,2022.000000,9.000000,120000.000000,66100.000000,9.000000,99994.000000,5.500000,45.000000,5.000000,7.000000

In [96]:
filter3 = df_new_5[df_new_5['livingSpace'] > 1000]
filter3

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,...,typeOfFlat,geo_plz,noRooms,floor,noRoomsRange,garden,livingSpaceRange,regio2,regio3,date
51540,Brandenburg,146.00,central_heating,ONE_YEAR_FREE,False,False,8,4.33,2.4,650.0,...,NaN,16225,3.0,4.0,3,True,7,Barnim_Kreis,Eberswalde,Oct19
151184,Bayern,115.00,central_heating,ONE_YEAR_FREE,False,False,23,6.09,40.0,1400.0,...,roof_storey,81737,2.0,2.0,2,True,7,München,Perlach,May19
202205,Nordrhein_Westfalen,107.00,oil_heating,ONE_YEAR_FREE,False,True,11,3.29,40.0,NaN,...,apartment,33104,3.0,2.0,3,False,7,Paderborn_Kreis,Paderborn,Oct19
215900,Sachsen,60.00,central_heating,ONE_YEAR_FREE,False,False,9,1.44,2.4,NaN,...,ground_floor,2782,3.0,0.0,3,True,7,Görlitz_Kreis,Seifhennersdorf,May19
222457,Nordrhein_Westfalen,99.35,central_heating,ONE_YEAR_FREE,False,True,3,5.97,40.0,NaN,...,apartment,48159,1.0,7.0,1,False,7,Münster,Kinderhaus_West,Oct19
223187,Hessen,128.25,district_heating,ONE_YEAR_FREE,False,True,11,6.17,2.4,1641.5,...,apartment,60435,3.0,1.0,3,True,7,Frankfurt_am_Main,Preungesheim,May19
243713,Nordrhein_Westfalen,25000.00,floor_heating,ONE_YEAR_FREE,False,True,12,3.61,40.0,NaN,...,apartment,45133,3.5,1.0,3,False,7,Essen,Bredeney,May19

In [97]:
#Removing rows with more than 1000 m2 living sapce
df_new_6 = df_new_5[(df_new_5['livingSpace']<1000)]

In [98]:
df_new_6.describe()

,serviceCharge,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
count,171520.000000,173634.000000,172369.000000,152406.000000,1.490300e+05,173634.000000,173634.000000,173634.000000,173634.000000,173634.000000,173634.000000,173634.000000,173634.000000,173634.000000,173634.000000
mean,150.224404,9.876804,3.385048,28.949548,9.183922e+02,1967.372277,3.639846,638.512957,72.373636,3.715292,36244.483333,2.617533,2.131875,2.572169,3.032142
std,369.582960,6.403068,1.999466,16.302756,4.082405e+04,37.936430,2.676472,495.078805,29.139128,2.224172,27579.903357,0.904401,1.716075,0.898205,1.346650
min,0.000000,0.000000,-12.330000,1.000000,0.000000e+00,1803.000000,1.000000,0.000000,0.000000,1.000000,1057.000000,1.000000,-1.000000,1.000000,1.000000
25%,93.320000,6.000000,1.960000,10.000000,4.650000e+02,1950.000000,1.000000,330.000000,54.760000,2.000000,9126.000000,2.000000,1.000000,2.000000,2.000000
50%,135.000000,9.000000,3.330000,40.000000,6.400000e+02,1972.000000,3.000000,479.000000,67.000000,3.000000,38162.000000,3.000000,2.000000,3.000000,3.000000
75%,187.000000,13.000000,4.550000,40.000000,9.800000e+02,1996.000000,5.000000,790.515000,85.000000,5.000000,54292.000000,3.000000,3.000000,3.000000,4.000000
max,146118.000000,121.000000,14.920000,100.000000,1.575154e+07,2022.000000,9.000000,30990.000000,520.000000,9.000000,99994.000000,5.500000,45.000000,5.000000,7.000000

In [122]:
Filter4 = df_new_6[(df_new_6['serviceCharge']>df_new_6['totalRent'])]
Filter4

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,...,typeOfFlat,geo_plz,noRooms,floor,noRoomsRange,garden,livingSpaceRange,regio2,regio3,date
1119,Sachsen,105.0,central_heating,ONE_YEAR_FREE,False,False,10,-0.65,2.4,0.0,...,apartment,9430,2.0,1.0,2,True,2,Erzgebirgskreis,Drebach,Oct19
1883,Nordrhein_Westfalen,75.0,night_storage_heater,ONE_YEAR_FREE,False,True,6,4.28,40.0,0.0,...,apartment,45130,1.0,2.0,1,False,1,Essen,Rüttenscheid,May19
4209,Sachsen,100.0,central_heating,NONE,False,False,15,0.00,2.4,0.0,...,apartment,9212,2.0,2.0,2,True,2,Zwickau_Kreis,Limbach_Oberfrohna,May19
5035,Sachsen,100.0,central_heating,ONE_YEAR_FREE,False,False,13,0.97,40.0,0.0,...,apartment,8280,2.0,1.0,2,True,2,Erzgebirgskreis,Aue,Feb20
5739,Sachsen,75.0,self_contained_central_heating,ONE_YEAR_FREE,False,True,9,-0.65,40.0,0.0,...,apartment,9430,3.0,3.0,3,True,3,Erzgebirgskreis,Drebach,Feb20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260830,Sachsen,105.0,central_heating,ONE_YEAR_FREE,False,False,11,-0.65,2.4,0.0,...,apartment,9430,2.0,1.0,2,False,2,Erzgebirgskreis,Drebach,Oct19
261685,Sachsen,130.0,central_heating,ONE_YEAR_FREE,False,False,13,1.75,40.0,0.0,...,ground_floor,1662,2.0,0.0,2,True,2,Meißen_Kreis,Meißen,Sep18
261940,Nordrhein_Westfalen,220.0,central_heating,ONE_YEAR_FREE,False,True,10,4.44,40.0,0.0,...,roof_storey,45127,4.0,4.0,4,False,5,Essen,Stadtkern,Oct19
266209,Nordrhein_Westfalen,80.0,self_contained_central_heating,ONE_YEAR_FREE,False,True,4,2.99,40.0,0.0,...,other,45145,2.0,2.0,2,False,3,Essen,Frohnhausen,May19
268067,Baden_Württemberg,350.0,district_heating,ONE_YEAR_FREE,False,False,5,NaN,10.0,0.0,...,apartment,69115,4.0,3.0,4,False,6,Heidelberg,Bahnstadt,Sep18

In [123]:
Filter5 = df_new_6[(df_new_6['totalRent'] == 0)]
Filter5

,regio1,serviceCharge,heatingType,telekomTvOffer,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,...,typeOfFlat,geo_plz,noRooms,floor,noRoomsRange,garden,livingSpaceRange,regio2,regio3,date
1119,Sachsen,105.0,central_heating,ONE_YEAR_FREE,False,False,10,-0.65,2.4,0.0,...,apartment,9430,2.0,1.0,2,True,2,Erzgebirgskreis,Drebach,Oct19
1883,Nordrhein_Westfalen,75.0,night_storage_heater,ONE_YEAR_FREE,False,True,6,4.28,40.0,0.0,...,apartment,45130,1.0,2.0,1,False,1,Essen,Rüttenscheid,May19
4209,Sachsen,100.0,central_heating,NONE,False,False,15,0.00,2.4,0.0,...,apartment,9212,2.0,2.0,2,True,2,Zwickau_Kreis,Limbach_Oberfrohna,May19
5035,Sachsen,100.0,central_heating,ONE_YEAR_FREE,False,False,13,0.97,40.0,0.0,...,apartment,8280,2.0,1.0,2,True,2,Erzgebirgskreis,Aue,Feb20
5739,Sachsen,75.0,self_contained_central_heating,ONE_YEAR_FREE,False,True,9,-0.65,40.0,0.0,...,apartment,9430,3.0,3.0,3,True,3,Erzgebirgskreis,Drebach,Feb20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260830,Sachsen,105.0,central_heating,ONE_YEAR_FREE,False,False,11,-0.65,2.4,0.0,...,apartment,9430,2.0,1.0,2,False,2,Erzgebirgskreis,Drebach,Oct19
261685,Sachsen,130.0,central_heating,ONE_YEAR_FREE,False,False,13,1.75,40.0,0.0,...,ground_floor,1662,2.0,0.0,2,True,2,Meißen_Kreis,Meißen,Sep18
261940,Nordrhein_Westfalen,220.0,central_heating,ONE_YEAR_FREE,False,True,10,4.44,40.0,0.0,...,roof_storey,45127,4.0,4.0,4,False,5,Essen,Stadtkern,Oct19
266209,Nordrhein_Westfalen,80.0,self_contained_central_heating,ONE_YEAR_FREE,False,True,4,2.99,40.0,0.0,...,other,45145,2.0,2.0,2,False,3,Essen,Frohnhausen,May19
268067,Baden_Württemberg,350.0,district_heating,ONE_YEAR_FREE,False,False,5,NaN,10.0,0.0,...,apartment,69115,4.0,3.0,4,False,6,Heidelberg,Bahnstadt,Sep18

In [124]:
#Removing rows with totalRent as 0
df_new_7 = df_new_6[(df_new_6['totalRent']>0)]

In [125]:
df_new_7.describe()

,serviceCharge,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,yearConstructedRange,baseRent,livingSpace,baseRentRange,geo_plz,noRooms,floor,noRoomsRange,livingSpaceRange
count,147756.000000,148833.000000,147707.000000,130592.000000,1.488330e+05,148833.000000,148833.000000,148833.000000,148833.000000,148833.000000,148833.000000,148833.000000,148833.000000,148833.000000,148833.000000
mean,151.013732,9.948493,3.396458,29.066234,9.196078e+02,1966.911888,3.627186,636.892150,71.988860,3.710461,35649.821337,2.606838,2.142569,2.561341,3.015050
std,395.893922,6.427019,2.036860,16.269111,4.085104e+04,38.320811,2.675579,491.782088,28.742055,2.225635,27769.964499,0.903297,1.723967,0.897377,1.336097
min,0.000000,0.000000,-12.330000,1.000000,1.000000e+00,1803.000000,1.000000,0.000000,0.000000,1.000000,1057.000000,1.000000,-1.000000,1.000000,1.000000
25%,95.000000,6.000000,1.930000,10.000000,4.650000e+02,1949.000000,1.000000,330.000000,54.460000,2.000000,9116.000000,2.000000,1.000000,2.000000,2.000000
50%,135.000000,9.000000,3.340000,40.000000,6.400000e+02,1972.000000,3.000000,479.000000,66.500000,3.000000,35460.000000,3.000000,2.000000,3.000000,3.000000
75%,189.000000,13.000000,4.590000,40.000000,9.800000e+02,1996.000000,5.000000,791.000000,85.000000,5.000000,53545.000000,3.000000,3.000000,3.000000,4.000000
max,146118.000000,109.000000,14.920000,100.000000,1.575154e+07,2022.000000,9.000000,30990.000000,482.000000,9.000000,99994.000000,5.500000,45.000000,5.000000,7.000000

In [126]:
df_new_7.isnull().sum()

regio1                      0
serviceCharge            1077
heatingType             17548
telekomTvOffer          17888
newlyConst                  0
balcony                     0
picturecount                0
pricetrend               1126
telekomUploadSpeed      18241
totalRent                   0
yearConstructed             0
firingTypes             18766
hasKitchen                  0
cellar                      0
yearConstructedRange        0
baseRent                    0
livingSpace                 0
geo_krs                     0
condition               30998
street                      0
lift                        0
baseRentRange               0
typeOfFlat              19738
geo_plz                     0
noRooms                     0
floor                       0
noRoomsRange                0
garden                      0
livingSpaceRange            0
regio2                      0
regio3                      0
date                        0
dtype: int64

In [127]:
df_new_7.shape

(148833, 32)

In [129]:
# Replacing missing values with NaN
df_new_8 = df_new_7.fillna('NaN')

In [146]:
df_new_9 = df_new_8.rename(columns={'Unnamed: 0':'Index','regio1':'State', 'geo_plz':'Pincode', 'geo_krs':'City', 
                       'heatingType':'Heating_type','telekomTvOffer':'TV_offer', 'newlyConst':'Newly_built', 
                       'balcony':'Balcony', 'yearConstructed':'Year_constructed', 'hasKitchen':'Kitchen', 'cellar':'Cellar',
                       'livingSpace':'Area(m2)','condition':'House_condition','lift':'Lift','typeOfFlat':'Flat_type', 
                       'floor':'Floor','noRooms':'Rooms', 'garden':'Garden', 'serviceCharge':'Maintenance_fee',
                       'pricetrend':'Price_trend', 'baseRent':'Base_rent', 'picturecount':'Picture_count','regio2': 'District',
                       'regio3': 'City/town', 'telekomUploadSpeed': 'Internet_speed', 'totalRent': 'Total_Rent','firingTypes': 'Energy_Source'})

In [147]:
df_new_9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148833 entries, 0 to 268847
Data columns (total 32 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   State                 148833 non-null  object
 1   Maintenance_fee       148833 non-null  object
 2   Heating_type          148833 non-null  object
 3   TV_offer              148833 non-null  object
 4   Newly_built           148833 non-null  bool
 5   Balcony               148833 non-null  bool
 6   Picture_count         148833 non-null  int64
 7   Price_trend           148833 non-null  object
 8   Internet_speed        148833 non-null  object
 9   Total_Rent            148833 non-null  float64
 10  Year_constructed      148833 non-null  float64
 11  Energy_Source         148833 non-null  object
 12  Kitchen               148833 non-null  bool
 13  Cellar                148833 non-null  bool
 14  yearConstructedRange  148833 non-null  float64
 15  Base_rent             148833 non-null  float64
 16  Area(m2)              148833 non-null  float64
 17  City                  148833 non-null  object
 18  House_condition       148833 non-null  object
 19  street                148833 non-null  object
 20  Lift                  148833 non-null  bool
 21  baseRentRange         148833 non-null  int64
 22  Flat_type             148833 non-null  object
 23  Pincode               148833 non-null  int64
 24  Rooms                 148833 non-null  float64
 25  Floor                 148833 non-null  float64
 26  noRoomsRange          148833 non-null  int64
 27  Garden                148833 non-null  bool
 28  livingSpaceRange      148833 non-null  int64
 29  District              148833 non-null  object
 30  City/town             148833 non-null  object
 31  date                  148833 non-null  object
dtypes: bool(6), float64(7), int64(5), object(14)
memory usage: 31.5+ MB

In [148]:
df_new_9.shape

(148833, 32)

In [149]:
# Export Cleaned Data
df_new_9.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Cleaned_Germany_Rent_Data.csv'))